html, body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: block;
}

header {
    background-color: #7a8e3e !important;
    color: white;
    width: 100vw;
    padding: 15px 40px;
    margin: 0;
    box-sizing: border-box;
}

header img {
    height: 45px;
    border-radius: 5px;
}

.container {
    max-width: 100% !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
}
